option_settings:
  - option_name: WORDPRESS_DB_NAME
    value: wordpress
  - option_name: WORDPRESS_DB_USER
    value: wordpress
  - option_name: WORDPRESS_DB_PASSWORD
    value: wordpresspwd
  - option_name: RDS_DB_NAME
    value: wordpress
  - option_name: RDS_HOSTNAME
    value: wordpress.clqcrf2daf31.us-east-1.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 3306
  - option_name: RDS_USERNAME
    value: wordpress
  - option_name: RDS_PASSWORD
    value: wordpresspwd
